# IDE Folders/Files
.vscode
.cproject
.project

# ESP-IDF Folders/Files
.devcontainer
build/
sdkconfig
sdkconfig.old
managed_components
components/espressif__esp32-camera
components/WiFi/WiFiConfig.h
dependencies.lock